@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
header {
  background-color: rgb(22, 22, 22);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
header p {
  font-family: "anton";
  font-size: 24px;
  color: #F46B6B;
  margin: 0px 0px 0 40px;
}
header span {
  color: #696969;
}
header div:last-child {
  margin-right: 40px;
  display: flex;
}
header div:last-child a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.961);
  font-family: "manrope";
  font-size: small;
  margin: 0 10px;
  cursor: pointer;
}
header div:last-child a:hover {
  border-bottom-style: solid;
  border-color: #F46B6B;
  border-width: 1px;
}
header div:last-child a:last-child {
  border-style: none;
}
header div:last-child a:last-child:hover {
  border-bottom-style: solid;
  border-color: #F46B6B;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191a1f;
}

footer {
  background-color: rgb(22, 22, 22);
  height: auto;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "raleway";
  align-items: center;
  margin-top: 10px;
}
footer .footer .paginas-footer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
footer .footer .paginas-footer .paginas_extra {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
footer .footer .formulario {
  margin-bottom: 10px;
}
footer .footer .formulario .titulo_formulario {
  color: white;
  font-size: medium;
  text-align: center;
}
footer .footer .formulario .relleno {
  background-color: rgba(123, 123, 123, 0.581);
  color: white;
}
footer .footer .formulario .boton_formulario {
  background-color: #ff4d4d;
}
footer .footer .redes-footer {
  width: 30px;
  height: 28px;
  margin: 5px;
  margin-right: 1rem;
}

main {
  background-color: #191a1f;
  height: auto;
  margin-bottom: 1.5rem;
}
main .box-1 {
  background-image: url(../imagenes/box1-definitiva.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
main .box-1 h1 {
  font-family: "anton";
  color: rgb(255, 77, 77);
  text-align: center;
  font-size: 60px;
}
main .box-1 h1 span:first-child {
  color: white;
  font-family: "manrope";
  font-size: 18px;
}
main .box-1 h1 span:last-child {
  font-family: "anton";
  color: #696969;
}
main .box-1 p {
  color: white;
  font-family: "manrope";
  width: 530px;
  text-align: center;
  font-size: 11px;
}
@media (max-width: 575px) {
  main .box-1 p {
    width: auto;
  }
}
main .actividades {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .actividades h2 {
  text-align: center;
  color: rgb(255, 77, 77);
  font-family: "belanosima";
  font-size: 20px;
  margin: 20px 0;
  border-bottom-style: solid;
}
main .box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
main .box-2 .tarjeta .tarj-1 {
  width: auto;
  height: auto;
  overflow: hidden;
}
@media (max-width: 660px) {
  main .box-2 .tarjeta .tarj-1 {
    margin-top: 1rem;
  }
}
main .box-2 .tarjeta .tarj-1 .tarjeta-1 {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-1 .tarjeta-1 .img-tarjeta-1 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-1 .tarjeta-1 .texto-tarjeta-1 {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  width: auto;
  height: 400px;
  color: rgb(255, 77, 77);
  font-family: "raleway";
  font-weight: 200;
}
main .box-2 .tarjeta .tarj-1 .tarjeta-1 .boton-tarjeta {
  top: 50%;
  color: white;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 77, 77);
  opacity: 0.7;
  font-size: larger;
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 2px;
}
main .box-2 .tarjeta .tarj-1 .tarjeta-1 .boton-tarjeta .texto-1 {
  opacity: 1;
  background-color: transparent;
  border-style: none;
}
main .box-2 .tarjeta .tarj-1:hover .boton-tarjeta {
  visibility: visible;
  filter: blur(0);
}
main .box-2 .tarjeta .tarj-1:hover .img-tarjeta-1 {
  transform: scale(1.1);
  filter: blur(2px);
}
main .box-2 .tarjeta .tarj-2 {
  width: auto;
  height: auto;
  overflow: hidden;
}
@media (max-width: 660px) {
  main .box-2 .tarjeta .tarj-2 {
    margin-top: 1rem;
  }
}
main .box-2 .tarjeta .tarj-2 .tarjeta-2 {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-2 .tarjeta-2 .img-tarjeta-2 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-2 .tarjeta-2 .texto-tarjeta-2 {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 300px;
  height: 400px;
  color: rgb(255, 77, 77);
  font-family: "raleway";
  font-weight: 200;
}
main .box-2 .tarjeta .tarj-2 .tarjeta-2 .boton-tarjeta {
  top: 50%;
  color: white;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 77, 77);
  opacity: 0.7;
  font-size: larger;
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 2px;
  margin-left: 8%;
}
main .box-2 .tarjeta .tarj-2 .tarjeta-2 .boton-tarjeta .texto-2 {
  opacity: 1;
  background-color: transparent;
  border-style: none;
}
main .box-2 .tarjeta .tarj-2:hover .boton-tarjeta {
  visibility: visible;
}
main .box-2 .tarjeta .tarj-2:hover .img-tarjeta-2 {
  transform: scale(1.1);
  filter: blur(2px);
}
main .box-2 .tarjeta .tarj-3 {
  width: auto;
  height: auto;
  overflow: hidden;
}
@media (max-width: 660px) {
  main .box-2 .tarjeta .tarj-3 {
    margin-top: 1rem;
  }
}
main .box-2 .tarjeta .tarj-3 .tarjeta-3 {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-3 .tarjeta-3 .img-tarjeta-3 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-3 .tarjeta-3 .texto-tarjeta-3 {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 300px;
  height: 400px;
  color: rgb(255, 77, 77);
  font-family: "raleway";
  font-weight: 200;
}
main .box-2 .tarjeta .tarj-3 .tarjeta-3 .boton-tarjeta {
  top: 50%;
  color: white;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 77, 77);
  opacity: 0.7;
  font-size: larger;
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 2px;
  margin-left: 7%;
}
main .box-2 .tarjeta .tarj-3 .tarjeta-3 .boton-tarjeta .texto-3 {
  opacity: 1;
  background-color: transparent;
  border-style: none;
}
main .box-2 .tarjeta .tarj-3:hover .boton-tarjeta {
  visibility: visible;
}
main .box-2 .tarjeta .tarj-3:hover .img-tarjeta-3 {
  transform: scale(1.1);
  filter: blur(2px);
}
main .box-2 .tarjeta .tarj-4 {
  width: auto;
  height: auto;
  overflow: hidden;
}
@media (max-width: 660px) {
  main .box-2 .tarjeta .tarj-4 {
    margin-top: 1rem;
  }
}
main .box-2 .tarjeta .tarj-4 .tarjeta-4 {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-4 .tarjeta-4 .img-tarjeta-4 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: 0.5s ease;
}
main .box-2 .tarjeta .tarj-4 .tarjeta-4 .texto-tarjeta-4 {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 300px;
  height: 400px;
  color: rgb(255, 77, 77);
  font-family: "raleway";
  font-weight: 200;
}
main .box-2 .tarjeta .tarj-4 .tarjeta-4 .boton-tarjeta {
  top: 50%;
  color: white;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 77, 77);
  opacity: 0.7;
  font-size: larger;
  visibility: hidden;
  transition: 0.3s ease;
  margin-left: 8%;
  border-radius: 5px;
}
main .box-2 .tarjeta .tarj-4 .tarjeta-4 .boton-tarjeta .texto-4 {
  opacity: 1;
  background-color: transparent;
  border-style: none;
}
main .box-2 .tarjeta .tarj-4:hover .boton-tarjeta {
  visibility: visible;
}
main .box-2 .tarjeta .tarj-4:hover .img-tarjeta-4 {
  transform: scale(1.1);
  filter: blur(2px);
}
main .box-3 {
  background-color: #454752;
  height: auto;
  width: auto;
  margin-inline: 3rem;
}
main .box-3 .entrenadores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
main .box-3 .entrenadores .info-entrenador {
  font-family: "raleway";
  margin: 1rem 0 0 1rem;
}
main .box-3 .entrenadores .info-entrenador .redes-entrenador {
  width: 30px;
  height: 28px;
  margin: 5px;
}
main .box-3 .entrenadores .info-entrenador h3 {
  color: white;
}
main .box-3 .entrenadores .info-entrenador p:nth-child(2) {
  color: rgb(255, 77, 77);
}
main .box-3 .entrenadores .info-entrenador p:nth-child(3) {
  color: rgba(255, 255, 255, 0.613);
}
main .box-3 .entrenadores .foto-entrenador .img-entrenador {
  width: 250px;
  height: 315.5px;
  opacity: 90%;
}
@media (max-width: 660px) {
  main .box-3 .entrenadores .foto-entrenador .img-entrenador {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
