main{
    background-color:#191a1f;
    height: auto;
    margin-bottom: 1.5rem;
    .act-box-1{
        background-image:url(../imagenes/gym\ vacio.jpg);
        background-size: cover;
        background-position:inherit;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        pointer-events: none;
        h1{
            font-family: $font-family_1;
            span:first-child{
                color: 191a1f;
                font-family: $font-family_2;
                font-size:30px;
                font-weight: bold;
            }
            span:last-child{
                color:rgb(255, 77, 77) ;
                font-family: $font-family_2;
                font-size: 30px;
                font-weight: bold;
            }
            
        }
    }
    .act-box-2{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 0 0;
        margin-inline:3rem ;
        .musculacion{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #bba6a6;
            padding: 0;
            .foto-musculacion{
                width: auto;
                img{
                    height: auto;
                    width: 400px;
                }
            }
            .info-musculacion{
                font-family: $font-family_4;
                h3{
                    text-decoration:underline;
                    font-family: $font-family_3;
                    margin:1rem;
                }
                p{
                    margin-left: 0.5rem;
                    margin-right: 2rem;
                    &:last-child{
                        font-weight: bold;
                        margin-top: 2.1rem;
                    }
                }
            }
        }
    }
    .act-box-3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        margin-inline: 3rem;
        .bici{
            background-color: #bba6a6;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;
            .info-bici{
                font-family: $font-family_4;
                h3{
                    text-decoration:underline;
                    font-family: $font-family_3;
                    margin:1rem;
                }
                p{
                    margin-left: 0.5rem;
                    margin-right: 2rem;
                    &:last-child{
                        font-weight: bold;
                        margin-top: 2.1rem;
                    }
                }
            }
            .img-bici{
                img{
                    width: 400px;
                    height: auto;
                }
            }
        }
    }
}