main{
    background-color:#191a1f;
    height: 2000px;
    .box-1{
        background-image: url(../imagenes/box1-definitiva.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        height: 500px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        h1{
            font-family:$font-family_1;
            color: rgb(255, 77, 77);
            text-align: center;
            font-size: 60px;
            
            span:first-child{
                color: white;
                font-family: $font-family_2;
                font-size: 18px;
            }
            span:last-child{
                font-family: $font-family_1;
                color: #696969;
            }
        }
        p{
            color: white;
            font-family: $font-family_2;
            width: 530px;
            text-align: center;
            font-size: 11px;
            
        }
    }
    .actividades{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            text-align: center;
            color: rgb(255, 77, 77);
            font-family: $font-family_3;
            font-size: 20px;
            margin: 20px 0;
            border-bottom-style: solid;
        }
    }
    .box-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .tarjeta{
            .tarj-1{
                width: 300px;
                height: 400px;
                overflow: hidden;
                .tarjeta-1{
                    width: 300px;
                    height: 400px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: .5s ease;
                    .img-tarjeta-1{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                    }
                    .texto-tarjeta-1{
                        position: absolute;
                        text-align:center;
                        display: flex;
                        justify-content: center;
                        align-items:end;
                        width: 300px;
                        height: 400px;
                        color:rgb(255, 77, 77) ;
                        font-family: $font-family_4;
                        font-weight: 200;
                    }
                }
                .boton-tarjeta{
                    top:0;
                    color: white;
                    width: 300px;
                    height: 400px;
                    text-align: center;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 77, 77);
                    opacity: .7;
                    font-size: larger;
                    visibility: hidden;
                    transition: .5s ease;
                    .texto-1{
                        opacity: 1;
                        background-color: transparent;
                        border-style:none none solid none;
                    }
                }
            }
            .tarj-1:hover .boton-tarjeta{
                visibility: visible;
            }
            .tarj-1:hover .tarjeta-1{
                transform: scale(1.1);
            }
            .tarj-2{
                width: 300px;
                height: 400px;
                overflow: hidden;
                .tarjeta-2{
                    width: 300px;
                    height: 400px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: .5s ease;
                    .img-tarjeta-2{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                    }
                    .texto-tarjeta-2{
                        position: absolute;
                        text-align:center;
                        display: flex;
                        justify-content: center;
                        align-items:end;
                        width: 300px;
                        height: 400px;
                        color:rgb(255, 77, 77) ;
                        font-family: $font-family_4;
                        font-weight: 200;
                    }
                }
                .boton-tarjeta{
                    top:0;
                    color: white;
                    width: 300px;
                    height: 400px;
                    text-align: center;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 77, 77);
                    opacity: .7;
                    font-size: larger;
                    visibility: hidden;
                    transition: .5s ease;
                    .texto-2{
                        opacity: 1;
                        background-color: transparent;
                        border-style:none none solid none;
                    }
                }
            }
            .tarj-2:hover .boton-tarjeta{
                visibility: visible;
            }
            .tarj-2:hover .tarjeta-2{
                transform: scale(1.1);
            }
            .tarj-3{
                width: 300px;
                height: 400px;
                overflow: hidden;
                .tarjeta-3{
                    width: 300px;
                    height: 400px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: .5s ease;
                    .img-tarjeta-3{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                    }
                    .texto-tarjeta-3{
                        position: absolute;
                        text-align:center;
                        display: flex;
                        justify-content: center;
                        align-items:end;
                        width: 300px;
                        height: 400px;
                        color:rgb(255, 77, 77) ;
                        font-family: $font-family_4;
                        font-weight: 200;
                    }
                }
                .boton-tarjeta{
                    top:0;
                    color: white;
                    width: 300px;
                    height: 400px;
                    text-align: center;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 77, 77);
                    opacity: .7;
                    font-size: larger;
                    visibility: hidden;
                    transition: .5s ease;
                    .texto-3{
                        opacity: 1;
                        background-color: transparent;
                        border-style:none none solid none;
                    }
                }
            }
            .tarj-3:hover .boton-tarjeta{
                visibility: visible;
            }
            .tarj-3:hover .tarjeta-3{
                transform: scale(1.1);
            }
            .tarj-4{
                width: 300px;
                height: 400px;
                overflow: hidden;
                .tarjeta-4{
                    width: 300px;
                    height: 400px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: .5s ease;
                    .img-tarjeta-4{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                    }
                    .texto-tarjeta-4{
                        position: absolute;
                        text-align:center;
                        display: flex;
                        justify-content: center;
                        align-items:end;
                        width: 300px;
                        height: 400px;
                        color:rgb(255, 77, 77) ;
                        font-family: $font-family_4;
                        font-weight: 200;
                    }
                }
                .boton-tarjeta{
                    top: 0;
                    color: white;
                    width: 300px;
                    height: 400px;
                    text-align: center;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 77, 77);
                    opacity: .7;
                    font-size: larger;
                    visibility: hidden;
                    transition: .5s ease;
                    .texto-4{
                        opacity: 1;
                        background-color: transparent;
                        border-style:none none solid none;
                    }
                }
            }
            .tarj-4:hover .boton-tarjeta{
                visibility: visible;
            }
            .tarj-4:hover .tarjeta-4{
                transform: scale(1.1);
            }
        }
    }
}