footer{
    background-color: rgb(22, 22, 22);
    height: auto;
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $font-family_4;
        align-items: center;
        margin-top: 10px;
        .paginas-footer{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            .paginas_extra{
                color:white;
                text-decoration: none;
                font-size:12px;
                margin-bottom: 5px;
                &:hover{
                    border-bottom-style: solid;
                    border-color: #F46B6B;
                    border-width: 1px;
                    transition: .5s ease;
                }
                @include mediaquery-mobileS(){
                    font-size: 9px;
                }
            }
        }
        div{
            p{
                font-family:$font-family_1;
                font-size: 24px;
                color: #F46B6B;
            }
            span{
                color: #696969;
            }
        }
        .redes-footer{
            width: 30px;
            height: 28px;
            margin-right: 1rem;
            margin-bottom:10px ;
            @include mediaquery-mobileS(){
                width: 20px;
                height: auto;
                margin-right: 10px;
            }
        }
    }
}